.header {
  height: 35px;
  background-color: black;
  color: white;
}

.icon-menu {
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-left: 25px;
  padding-top: 5px;
  text-transform: uppercase;
}

.icon-menu i {
  margin-right: 5px;
}

.dropdown-menu {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1 px solid black;
  margin-top: 5px;
  min-width: 105px;
  display: none;
  top: 20px;
  left: 25px;
}

.jumbotron {
  background-image:url('../IMG/nyc_at_night_hd.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
}

.jumbotron h1 {
  color: #fff;
  font-size: 40px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
  padding-top: 20px;
  font-weight: bold;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
  font-weight: bold;
}

.aboutme {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.aboutme h2 {
    color: #393c3d;
    font-size: 24px;
}

.aboutme p {
    font-size: 15px;
    margin-bottom: 13px;
}

.footer {
  height: 55px;
  background-color: black;
  color: white;
  font-size: 12px;
}

.footer img {
  height: 40px;
  padding: 5px 0px 5px 0px;
}

.footer p {
  padding-left: 25px;
}

.footer .row {
  padding-left: 40px;
}